*.aux
tesina.log
*.out
*.gz
tesina.toc
*.log
*.gnuplot
gnuplot/tesina/1.table
*.table
test/motore.pdf
test/motore.tex
test/bode.pdf
test/bode.tex
*.jpg
Appendici/Spiegazione A/sisetma_2o_ordine_frequenza.pdf
Appendici/Spiegazione A/sistema_2o_ordine_tempo.pdf
*.r2013a
*.mat
Codice/stampa.m
Codice/4 simulazioni_raw/in_r_10_d_0_5.dat
Codice/4 simulazioni_raw/in_r_120_d_0_5.dat
Codice/4 simulazioni_raw/out_r_120_d__0_5.dat
Codice/4 simulazioni_raw/out_r_50_d_0_5.dat
Codice/4 simulazioni_raw/out_r_120_d_0_5.dat
Codice/4 simulazioni_raw/out_r_10_d_0_5.dat
Codice/4 simulazioni_raw/out_r_10_d__0_5.dat
Codice/4 simulazioni_raw/in_r_50_d__0_5.dat
Codice/4 simulazioni_raw/in_r_10_d__0_5.dat
Codice/4 simulazioni_raw/in_r_120_d__0_5.dat
Codice/4 simulazioni_raw/out_r_50_d__0_5.dat
Codice/4 simulazioni_raw/in_r_50_d_0_5.dat
*.bbl
tesina.dvi
*.blg
Codice/modello_motore_cerato.m
Codice/simulink_lab2_4.mdl
*.auxlock