*.aux
tesina.log
*.out
*.gz
tesina.toc
*.log
*.gnuplot
gnuplot/tesina/1.table
*.table
test/motore.pdf
test/motore.tex
test/bode.pdf
test/bode.tex
*.jpg
Appendici/Spiegazione A/sisetma_2o_ordine_frequenza.pdf
Appendici/Spiegazione A/sistema_2o_ordine_tempo.pdf
*.r2013a
*.mat
Codice/stampa.m
Codice/4 simulazioni_raw/in_r_10_d_0_5.dat
Codice/4 simulazioni_raw/in_r_120_d_0_5.dat
Codice/4 simulazioni_raw/out_r_120_d__0_5.dat
Codice/4 simulazioni_raw/out_r_50_d_0_5.dat
Codice/4 simulazioni_raw/out_r_120_d_0_5.dat
Codice/4 simulazioni_raw/out_r_10_d_0_5.dat
Codice/4 simulazioni_raw/out_r_10_d__0_5.dat
Codice/4 simulazioni_raw/in_r_50_d__0_5.dat
Codice/4 simulazioni_raw/in_r_10_d__0_5.dat
Codice/4 simulazioni_raw/in_r_120_d__0_5.dat
Codice/4 simulazioni_raw/out_r_50_d__0_5.dat
Codice/4 simulazioni_raw/in_r_50_d_0_5.dat
*.bbl
tesina.dvi
*.blg
Codice/modello_motore_cerato.m
Codice/simulink_lab2_4.mdl
*.auxlock
*.r2014a
'/simulazioni/5_d_only_out'.pdf
Codice/LAB/FF/dopo/in_r_10.dat
Codice/LAB/FF/dopo/in_r_50.dat
test/figure.tex
test/figure.pdf
Codice/LAB/FF/dopo/in_r_120.dat
Codice/LAB/FF/prima/in_r_120.dat
Codice/LAB/INT/in_r_120.dat
Codice/LAB/INT/in_r_50.dat
Codice/LAB/INT/out_r_10.dat
Codice/LAB/INT/out_r_120.dat
Codice/LAB/INT/out_r_50.dat
Codice/LAB/PID/in_r_10.dat
Codice/LAB/PID/in_r_120.dat
Codice/LAB/FF/dopo/out_r_10.dat
Codice/LAB/FF/dopo/out_r_120.dat
Codice/LAB/FF/dopo/out_r_50.dat
Codice/LAB/FF/prima/in_r_10.dat
Codice/LAB/FF/prima/in_r_50.dat
Codice/LAB/FF/prima/out_r_10.dat
Codice/LAB/FF/prima/out_r_120.dat
Codice/LAB/FF/prima/out_r_50.dat
Codice/LAB/INT/in_r_10.dat
Codice/LAB/PID/in_r_50.dat
Codice/LAB/PID/out_r_10.dat
Codice/LAB/PID/out_r_120.dat
Codice/LAB/PID/out_r_50.dat
codice vero/controllo_motore_stato.m
codice vero/modello_motore.m
codice vero/controllo_motore_stato_integrale.m
codice vero/bode_amplitude.dat
codice vero/bode_phase.dat
test/bode/integrale/bode_amplitude.dat
test/bode/interno/bode_amplitude.dat
*.ini