*.aux
tesina.log
*.out
*.gz
tesina.toc
*.log
*.gnuplot
gnuplot/tesina/1.table
*.table
test/motore.pdf
test/motore.tex
test/bode.pdf
test/bode.tex
*.jpg
Appendici/Spiegazione A/sisetma_2o_ordine_frequenza.pdf
Appendici/Spiegazione A/sistema_2o_ordine_tempo.pdf
*.r2013a